<!DOCTYPE html>
<html>

<head>
  <!-- <script src="/js/speachtotext.js"></script> -->
  <script src="/lib/annyang.js"></script>
  <script src="/lib/speechkitt.js"></script>

  <!-- <script src="http://cdnjs.cloudflare.com/ajax/libs/annyang/2.6.0/annyang.min.js"></script> -->
  <!-- <script>
    annyang.setLanguage("ko");
    annyang.start({
      autoRestart: true,
      continuous: true
    })

    var recognition = annyang.getSpeechRecognizer();
    var final_transcript = '';

    recognition.interimResults = true;

    recognition.onresult = function(event) {
      var interim_transcript = '';
      final_transcript = '';

      for (var i = event.resultIndex; i < event.results.length; i++) {
        if (event.results[i].isFinal) {
          final_transcript += event.results[i][0].transcript;
          console.log("final_transcript=" + final_transcript);
        } else {
          interim_transcript += event.results[i][0].transcript;
          console.log("interim_transcript = " + interim_transcript);
        }
      }

      document.getElementById('result').innerHTML = '중간값 = ' + interim_transcript +
        '<br/> 결과값 = ' + final_transcript;
      console.log('interim=' + interim_transcript + ' | final= ' + final_transcript);
    }
  </script> -->
</head>

<body class="" id="grid">
  <!-- <script src="//cdnjs.cloudflare.com/ajax/libs/SpeechKITT/1.0.0/speechkitt.min.js"></script> -->
  <script>
    if (annyang) {
      // Add our commands to annyang
      annyang.addCommands({
        '안녕': function() {
          alert('Hello world!');
        }
      });
      // Set Languages
      annyang.setLanguage("ko");

      // Tell KITT to use annyang
      SpeechKITT.annyang();

      annyang.addCallback("start", function() {
        console.log("start");
      });

      annyang.addCallback("end", function() {
        console.log("end");
      });

      annyang.addCallback("soundstart", function() {
        console.log("soundstart");
      });

      annyang.addCallback("result", function(data) {
        console.log("result");
        console.log(data[0]);
      });
      // Define a stylesheet for KITT to use
      SpeechKITT.setStylesheet('//cdnjs.cloudflare.com/ajax/libs/SpeechKITT/1.0.0/themes/flat.css');

      // Render KITT's interface
      SpeechKITT.vroom();
    }
  </script>
  <br /><br />
  한국어 음성 처리 테스트<br /><br />
  <div id='result'>
    결과가 없습니다.
  </div>
</body>

</html>
