<!DOCTYPE html>
<html>

<head>
  <script src="/lib/annyang.js"></script>
  <script src="/lib/speechkitt.js"></script>
  <script src="/lib/jQuery3.3.1.js"></script>
  <script src=/js/resultToJsonParser.js> </script> <script src="/data/data.json"></script>

</head>

<body class="" id="grid">
  <script>
    var result;
    if (annyang) {
      // Add our commands to annyang
      annyang.addCommands({
        '안녕': function() {
          alert('Hello world!');
        }
      });
      // Set Languages
      annyang.setLanguage("ko");

      // Tell KITT to use annyang
      SpeechKITT.annyang();

      var recognition = annyang.getSpeechRecognizer();
      recognition.interimResults = true;

      recognition.onresult = function(event) {
        var interim_transcript = '';
        final_transcript = '';
        for (var i = event.resultIndex; i < event.results.length; i++) {
          if (event.results[i].isFinal) {
            final_transcript += event.results[i][0].transcript;

          } else {
            interim_transcript += event.results[i][0].transcript;

          }
        }
        result = final_transcript;

        // parseResult(result);
      }

      // Add callback method
      annyang.addCallback("start", function() {
        console.log("start");
      });

      annyang.addCallback("end", function() {
        console.log("end");


        result = "테스트입니다";
        parseResult(result);
      });

      annyang.addCallback("soundstart", function() {
        console.log("soundstart");
      });

      annyang.addCallback("result", function(data) {
        console.log("result");

      });
      annyang.addCallback("resultMatch", function(data) {
        console.log("resultMatch");
      });


      // Define a stylesheet for KITT to use
      SpeechKITT.setStylesheet('css/flat.css');

      // Render KITT's interface
      SpeechKITT.vroom();
    }
  </script>
  <br /><br />
  한국어 음성 처리 테스트<br /><br />
  <div id='result'>
    결과가 없습니다.
  </div>
</body>

</html>
